*.pptx
*.jpg
*/впс_гордеев_задача_1_1.pdf
*/впс_гордеев_задача_1_1_compressed.pdf

*/впс_гордеев_задача_2_1.pdf
*/впс_гордеев_задача_2_1_compressed.pdf

*/впс_гордеев_задача_3_1.pdf
*/впс_гордеев_задача_3_2.pdf
*/впс_гордеев_задача_3_2_compressed.pdf

*/впс_гордеев_задача_4_3.pdf
*/впс_гордеев_задача_4_3_compressed.pdf

*/впс_гордеев_задача_5_1.pdf
*/впс_гордеев_задача_5_1_compressed.pdf

*/впс_гордеев_задача_6_1.pdf
*/впс_гордеев_задача_6_1_compressed.pdf

*/впс_гордеев_задача_7_1.pdf
*/впс_гордеев_задача_7_1_compressed.pdf